@(user: UserCredentials, courses: List[Course])

@admin_base(user) {


} {

<div class="span6">
  <h2>Old Courses</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>Course Name</th>
	<th>Professor</th>
	<th>Year</th>
	<th>Start Date</th>
      </tr>
    </thead>
    <tbody>
      @for(course <- courses) {
          <tr>
            <td>@course.courseName</td>
            <td>@if(course.getProfessor()!=null) {
              @course.getProfessor().firstName @course.getProfessor().lastName
            }</td>
            <td>@course.academicYear</td>
            <td>@course.printActualStartDate</td>
          </tr>
        }
    </tbody>
  </table>
  <p align="right">
</div><!--span1 -->
}
