@(user: UserCredentials, students: List[Student], newStudentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@admin_base(user) {


} {

<!-- corpo della pagina -->

<div class="span6">
  <h2>Students</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Study Plan</th>
      </tr>
    </thead>
    <tbody>
      @for(student <- students) {
        <tr>
          <td><a href=@routes.Admins.studentDetails(student.userID.longValue())>@student.firstName</a></td>
          <td>@student.lastName</td>
          <td>@student.printIsPlanApproved</td>
        </tr>
      }
    </tbody>
  </table>
  <a data-toggle="modal" href="#windowTitleDialog_mailtoSR" class="btn btn-primary">Sodomizza nell'ano ritardatari</a>
  <a data-toggle="modal" href="#windowTitleDialog_newStudent" class="btn btn-primary">Create new student</a>
  <br />
  <br />
</div><!--span1 -->

<!--- LA RIMOZIONE DEI CORSI VERRA GESTITA NEL MODAL DETTAGLI -->
<div class="span6">
  <h2>Filtro</h2>
</div>
} {

<!-- modal mail a studenti ritardatari -->

<div class="modal hide fade" id="windowTitleDialog_mailtoSR" style="display: none; ">

  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">
      <img src="@routes.Assets.at("images/logounitn.jpg")"  height = "90" width = "90" />
    </a>
    <h3>Avviso agli studenti ritardatari</h3>
  </div>
  
  <div class="modal-body">
    <p>
      Con questo form stai per inviare un sollecito tramite posta elettronica a tutti gli studenti che non hanno ancora definito uno study plan.<br />
      Vuoi procedere con l'operazione?
    </p>
    <a data-dismiss="modal" href="#" class="btn btn-large">Annulla</a>
    <a data-dismiss="modal" href="#" class="btn btn-primary btn-large">Manda avviso</a>
  </div>
</div>

<!-- modal create student -->

<div class="modal hide fade" id="windowTitleDialog_newStudent" style="display: none; ">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">
      <img src="@routes.Assets.at("images/logounitn.jpg")"  height = "90" width = "90" />
    </a>
    <h3>Create new student</h3>
  </div>
  <div class="modal-body">
    @helper.form(action = routes.Admins.newStudent())  {
      <fieldset>
        @inputText(
        newStudentForm("firstName"),
        '_label -> "First name"
        )

        @inputText(
        newStudentForm("lastName"),
        '_label -> "Last name"
        )

        @inputText(
        newStudentForm("fullName"),
        '_label -> "Full name"
        )

        (<a href=@routes.Admins.credentials()>Create it</a>)
        @select(
        newStudentForm("user.usercredentialID"), 
        options(UserCredentials.optionsForStudent),
        '_default -> "--- Select the username ---",
        '_label -> "UserName",
        '_error -> newStudentForm("user").error.map(_.withMessage("Please select the UserName"))
        )

        @inputText(
        newStudentForm("legalResidence"),
        '_label -> "Legal residence"
        )

        @inputText(
        newStudentForm("currentDomicile"),
        '_label -> "Current domicile"
        )

        @inputDate(
        newStudentForm("dateOfBirth"),
        '_label -> "Date of birth (yyyy-mm-dd)"
        )

        @inputText(
        newStudentForm("placeOfBirth"),
        '_label -> "Place of birth"
        )

        @inputText(
        newStudentForm("officePhone"),
        '_label -> "Office phone"
        )

        @inputText(
        newStudentForm("mobilePhone"),
        '_label -> "Mobile Phone"
        )

        @inputText(
        newStudentForm("email"),
        '_label -> "Email"
        )

        @select(
        newStudentForm("currentAdvisor.supervisorID"), 
        options(Supervisor.options),
        '_default -> "--- Choose the advisor ---",
        '_label -> "Advisor",
        '_error -> newStudentForm("currentAdvisor").error.map(_.withMessage("Please select the advisor"))
        )

        @inputText(
        newStudentForm("scholarshipType"),
        '_label -> "Scholarship type"
        )

        @inputText(
        newStudentForm("phdCycle"),
        '_label -> "Phd cycle"
        )

        @inputText(
        newStudentForm("yearExtensionScholarship"),
        '_label -> "Year extension scholarship"
        )

        @inputText(
        newStudentForm("lockerNumber"),
        '_label -> "Locker Number"
        )

        @inputText(
        newStudentForm("officeWorkingPlace"),
        '_label -> "Office working place"
        )

        @select(
        newStudentForm("universityOfProvenance.universityID"), 
        options(University.options),
        '_default -> "--- Choose the university ---",
        '_label -> "University of provenance",
        '_error -> newStudentForm("universityOfProvenance").error.map(_.withMessage("Please select the university"))
        )

        @select(
        newStudentForm("university.universityID"), 
        options(University.options),
        '_default -> "--- Choose the university ---",
        '_label -> "University",
        '_error -> newStudentForm("university").error.map(_.withMessage("Please select the university"))
        )

        @select(
        newStudentForm("fundingInstitution.fundinginstitutionID"), 
        options(FundingInstitution.options),
        '_default -> "--- Choose the Funding Institution ---",
        '_label -> "Funding Institution",
        '_error -> newStudentForm("fundingInstitution").error.map(_.withMessage("Please select the Funding Institution"))
        )

        @select(
        newStudentForm("countryOfProvenance.countryID"), 
        options(Country.options),
        '_default -> "--- Choose the country ---",
        '_label -> "Country Of Provenance",
        '_error -> newStudentForm("countryOfProvenance").error.map(_.withMessage("Please select the country of provenance"))
        )

        @select(
        newStudentForm("citizenship.countryID"), 
        options(Country.options),
        '_default -> "--- Choose the country ---",
        '_label -> "Citizenship",
        '_error -> newStudentForm("citizenship").error.map(_.withMessage("Please select the country of provenance"))
        )

        @select(
        newStudentForm("fundsOwner.supervisorID"), 
        options(Supervisor.options),
        '_default -> "--- Choose the funds owner ---",
        '_label -> "Funds Owner",
        '_error -> newStudentForm("fundsOwner").error.map(_.withMessage("Please select the funds owner"))
        )

        @select(
        newStudentForm("tutor.supervisorID"), 
        options(Supervisor.options),
        '_default -> "--- Choose the tutor ---",
        '_label -> "Tutor",
        '_error -> newStudentForm("tutor").error.map(_.withMessage("Please select the tutor"))
        )

        <input type="hidden" value="---" name="commiteeMembers"/>
      </fieldset>
    <div class="actions">
      <a data-dismiss="modal" href="#" class="btn btn-large">Cancel</a>
      <input type="submit" class="btn btn-large btn-primary" value="Submit">
    </div>
  }
  </div>
</div>
}
