@(user: UserCredentials)(sideContents: Html)(centralContents: Html)

@main { 

<!---parte sx -->

<ul class="nav nav-list">
              <li class="nav-header"><font size="4" face="Courier">Amministratore</font></li> <!-- tag scala nome studente -->
              <li><a  href="@routes.Admins.courses()" ><font size="3" face="Courier"></font>Corsi</a></li>
              <li><a  href="@routes.Admins.students()" ><font size="3" face="Courier"></font>Studenti</a></li>
	      <li><a  href="@routes.Admins.supervisors()" ><font size="3" face="Courier"></font>Docenti</a></li>
	@sideContents
</ul>
} {
 
<!---parte centrale -->

<div class="row-fluid">	  
	@centralContents
</div><!--Row-->





} {

Loggato come: @user.userName - <a href="@routes.Authentication.logout()">Logout</a>

} {

<script language="JavaScript">
    
</script>

}
