@(user: UserCredentials, selectedStudent: Student, studyplan: List[Course], courses: List[Course], courseForm: Form[Course], enrollments: List[CourseEnrollment], studentForm: Form[Student])

@admin_base(user) {

<!-- Parte side -->



} {

<!-- Inclusioni Modal -->

@studentDetailsModal(selectedStudent, studentForm)

<div class="modal hide fade" id="studentDetails_confirmSuspendAction" style="display: none; ">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">
      <img src="@routes.Assets.at("images/logounitn.jpg")"  height = "90" width = "90" />
    </a>
    <h3>Confirm operation</h3>
  </div>
  <div class="modal-body">
    <p>
      You're about to suspend this student: do you wish to continue?
    </p>
    <a data-dismiss="modal" href="#" class="btn btn-large">Cancel</a>
    <a href="@routes.Admins.suspendStudent(selectedStudent.userID.longValue)" class="btn btn-primary btn-large">Suspend student</a>
  </div>
</div>

<!-- Parte centrale -->

@common_editableSP(user, selectedStudent, studyplan, courses, courseForm)
@common_studentCareer(user, enrollments)
    
<div>
  @if(selectedStudent.isSuspended() == false) {
    <a data-toggle="modal" href="#studentDetails_confirmSuspendAction" class="btn">Suspend student</a>
  }
</div>

} {


} {

<!-- script admin_students_details -->

}
