@(user: UserCredentials, credentials: List[UserCredentials], roles: List[UserRole], ucForm: Form[UserCredentials], urForm: Form[UserRole])

@import helper._
@import helper.twitterBootstrap._

@admin_base(user) {


} {

<div class="span6">
  <h2>Credentials</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        @for(credential <- credentials) {
          <tr>
            <td>@credential.userName</td>
            <td>@credential.getRole().role</td>
          </tr>
        }
      </tbody>
    </table>
  <p align="center">
    <a data-toggle="modal" href="#windowTitleDialog_newUsercredential" class="btn btn-primary">Create New Credential</a>
    <br />
    <br />
  </p>
</div><!--span1 -->

<div class="span6">
  <h2>Roles</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      @for(role <- roles) {
        <tr>
          <td>@role.role</td>
        </tr>
      }
    </tbody>
  </table>
  <p align="center">
    <a data-toggle="modal" href="#windowTitleDialog_newRole" class="btn btn-primary">Create New Role</a>
    <br />
    <br />
  </p>
</div>

<!-- modal create usercredential -->

<div class="modal hide fade" id="windowTitleDialog_newUsercredential" style="display: none; ">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">
      <img src="@routes.Assets.at("images/logounitn.jpg")"  height = "90" width = "90" />
    </a>
    <h3>Create new UserCredential</h3>
  </div>
  <div class="modal-body">
    @helper.form(action = routes.Admins.newUserCredential())  {
      <fieldset>
        @inputText(
        ucForm("userName"),
        '_label -> "Username"
        )

        @inputPassword(
        ucForm("password"),
        '_label -> "Password"
        )

        @select(
        ucForm("userRol.userrolID"), 
        options(UserRole.options),
        '_default -> "--- Select the role ---",
        '_label -> "Role",
        '_error -> ucForm("userRol").error.map(_.withMessage("Please select the Role"))
        )
      </fieldset>
    <div class="actions">
      <a data-dismiss="modal" href="#" class="btn">Cancel</a>
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  }
  </div>
</div>

<!-- modal role -->

<div class="modal hide fade" id="windowTitleDialog_newRole" style="display: none; ">
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">
      <img src="@routes.Assets.at("images/logounitn.jpg")"  height = "90" width = "90" />
    </a>
    <h3>Create new Role</h3>
  </div>
  <div class="modal-body">
    @helper.form(action = routes.Admins.newUserRole())  {
      <fieldset>
        @inputText(
        urForm("role"),
        '_label -> "Role"
        )
      </fieldset>
    <div class="actions">
      <a data-dismiss="modal" href="#" class="btn">Cancel</a>
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  }
  </div>
</div>


} {



} {

<!-- script admin_credentials -->

@if(urForm.hasErrors) {
  <script language="JavaScript">
  function autofun() {
    $('#windowTitleDialog_newRole').modal('show')
  }
  </script>
} else {
    @if(ucForm.hasErrors) {
    <script language="JavaScript">
    function autofun() {
      $('#windowTitleDialog_newUsercredential').modal('show')
    }
    </script>
    }
}

}
