@(user: UserCredentials, courses: List[Course])

@admin_base(user) {



} {

<div class="span6">
  <h2>Old Courses</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Professor</th>
        <th>Year</th>
        <th>Start Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(course <- courses) {
        <tr>
          <td>@course.courseName</td>
          <td>@if(course.getProfessor()!=null) {
                  @course.getProfessor().firstName @course.getProfessor().lastName
                  }</td>
          <td>@course.academicYear</td>
          <td>@course.printActualStartDate</td>
          <td>
            <a data-toggle="modal" href="@routes.Admins.courseDetails(course.courseID.longValue)">
              <img src="@routes.Assets.at("images/details.png")" />
            </a>
          </td>
       </tr>
      }
    </tbody>
  </table>
  <p align="right">
  </p>
</div><!--span1 -->
} {



}
