@(user: UserCredentials, credentials: List[UserCredentials], roles: List[UserRole])

@admin_base(user) {


} {

<div class="span6">
  <h2>Credentials</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        @for(credential <- credentials) {
          <tr>
            <td>@credential.userName</td>
            <td>@credential.getUserRol().role</td>
          </tr>
        }
      </tbody>
    </table>
  <p align="right">
    <a data-toggle="modal" href="#windowTitleDialog_newcredential" class="btn btn-primary btn-large">Create New Credential</a>
    <br>
    <br>
</div><!--span1 -->

<div class="span6">
  <h2>Roles</h2>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        @for(role <- roles) {
           <tr>
	     <td>@role.role</td>
           </tr>
        }
      </tbody>
    </table>
  <p align="right">
    <a data-toggle="modal" href="#windowTitleDialog_newrole" class="btn btn-primary btn-large">Create New Role</a>
    <br>
    <br>
</div>


} {

}
