@(user: UserCredentials)

@admin_base(user) {


} {

<div class="span6">
			      <h2>ListaCorsi</h2>
			      <table class="table table-bordered">
			<thead>
			  <tr>
			    <th>Nome Corso</th>
			    <th>Docente</th>
			    <th>Periodo</th>
			  </tr>
			</thead>
			<tbody>
			  
			</tbody>
		      </table>
		    <p align="right">
			<a data-toggle="modal" href="#windowTitleDialog_newcourse" class="btn btn-primary btn-large">Aggiungi Nuovo Corso</a>
		    <br>
		    <br>
</div><!--span1 -->

<div class="span6">
		       <h2>Filtro</h2>
</div>


}