@(user: UserCredentials, students: Set[Student])

@advisor_base(user,students) {

<!-- Parte side -->

} {

<!-- Modal dei corsi -->

<!-- @@courseDetailsModal(courses) -->

<!-- Fine modal dei corsi -->

<!-- Parte dx-->
<div class="span6">
    <h2 align="center"> StudyPlan</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome Corso</th>
                <th>Professore</th>
            </tr>
            
                <tr>
                    <td><a data-toggle="modal" href="#">nomecorso</a></td>
                    <td></td>
                </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </br>
    </br>
    <p align="right">
        <button class="btn btn-large">Annulla</button>
        <button class="btn btn-large">Conferma</button>
    </p>
</div><!--span6/1 -->

<div class="span6">    
	<h2 align="center"> Voti</h2>
</div> <!--span 6/2-->

}
