@(user: UserCredentials, students: Set[Student])

@advisor_base(user,students) {

<!-- Parte side -->

} {

<!-- Parte dx-->
<div class="span6">
    <h2 align="center"> StudyPlan</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Nome Corso</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th><a href="#">Nome Corsodfd</a></th><!--  si collega a pagina info corso -->
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    </br>
    </br>
    <p align="right">
        <button class="btn btn-large">Annulla</button>
        <button class="btn btn-large">Conferma</button>
    </p>
</div><!--span6/1 -->

<div class="span6">    
	<h2 align="center"> Voti</h2>
</div> <!--span 6/2-->

}
