@(user: UserCredentials, students: List[Student])(sideContents: Html)(centralLeftContents: Html)(centralRightContents: Html)(script: Html)

@main {

<!-- left side of the page -->

<ul class="nav nav-list">
  <li class="nav-header"><font size="4" face="Courier">Students</font></li>
  <!-- show it only if there are pending approval requests -->
  @if(user.getSupervisor().getApprovalRequests() > 0) {
    @if(user.getSupervisor().getApprovalRequests() == 1) {
      <li>@user.getSupervisor().getApprovalRequests() pending approval request</li>
    } else {
      <li>@user.getSupervisor().getApprovalRequests() pending approval requests</li>
    }
  }
  <br />
  @for(student <- students) {
    <li>
      <a data-toggle="modal" href="@routes.Supervisors.watchStudent(student.userID.longValue())">
        @if(student.isPlanApproved == 0) {
          <img align="center" src="@routes.Assets.at("images/incompleteSP.gif")" />
        } else {
          @if(student.isPlanApproved == 1) {
          <img align="center" src="@routes.Assets.at("images/approvationrequestSP.png")" />
          } else {
          <img align="center" src="@routes.Assets.at("images/approvedSP.png")" />
          <!------------------------------------>
          }
        }
        <font size="4" face="Courier">@student.fullName</font>
      </a>
    </li>
    @sideContents
  }
</ul>

} {
<!---central part -->

<!--<div class="row-fluid">-->
  @centralLeftContents
  @centralRightContents
<!--<div>-->

} {

Logged in as: @user.userName - <a href="@routes.Authentication.logout()">Logout</a>

} {
 
<!-- script advisor_base -->

@script

}
