@(user: UserCredentials, enrollments: List[CourseEnrollment])

<!-- Dialog dei Dettagli Corso -->
@courseDetailsModal(CourseEnrollment.enrollmentsToCourses(enrollments))

<!-- Fine dialog dei Dettagli Corso -->

<!-- Parte centrale -->

<div class="row-fluid">
    <div class="span6">
        <h2>Carrer</h2>
        <table class="table table-bordered">
            <thead>
        <tr>
          <th>Course Name</th>
          <th>Professor</th>
          <th>Type</th>
          <th>Result</th>
          <th>Qualification</th>
          <th>Credits</th>
          <th>Year</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for(enrollment <- enrollments) {
          <tr>
	    <td>@enrollment.getCourse.courseName</td>
	    <td>@if(enrollment.getCourse.professor != null)  {
	      @enrollment.getCourse.getProfessor.lastName
	    }</td>
            <td>@enrollment.getCourse.printType</td>
            <td>@enrollment.printResult</td>
            <td>@enrollment.qualification</td>
            <td>@enrollment.credits</td>
            <td>@enrollment.getCourse.academicYear</td>
            <td><a data-toggle="modal" href="#windowTitleDialog_coursedetails-@{enrollment.getCourse.courseID}"><img src="@routes.Assets.at("images/details.png")" /></a></td>
	    </td>
          </tr>
          }
      </tbody>
    </table>
    <p align="center">
        <!-- noting for now -->
    </p>
  </div>
</div>

<!-- Fine parte centrale -->


