@(courseForm: Form[Course])

@import helper._
@import helper.twitterBootstrap._
    
@helper.form(action = routes.SecuredApplication.newExternCourse) {
       <fieldset>
            <legend>Account informations</legend>
            @inputText(
                courseForm("courseName"),
                '_label -> "Course name",
                '_help -> "Please enter the course name"
            )
            @inputText(
                courseForm("notes"), 
                '_label -> "Notes", 
                '_error -> courseForm.globalError
            )
            
            @inputText(
                courseForm("institution"),
                '_label -> "Institution"
            )
            
            @inputText(
                courseForm("place"),
                '_label -> "Place"
            )
            
            @inputText(
                courseForm("plannedCoursePeriod"),
                '_label -> "Planned course period"
            )
            
            @inputText(
                courseForm("url"),
                '_label -> "Url"
            )
                        
            @inputText(
                courseForm("credits"), 
                '_label -> "Credits", 'class -> "mini",
                '_showConstraints -> false
            )
            
            @inputText(
                courseForm("accademicYear"), 
                '_label -> "Accademic year", 'class -> "mini",
                '_showConstraints -> false
            )
            
            @inputText(
                courseForm("budgetedCost"), 
                '_label -> "Budgeted cost", 'class -> "mini",
                '_showConstraints -> false
            )
            
            @inputText(
                courseForm("actualCost"), 
                '_label -> "Actual cost", 'class -> "mini",
                '_showConstraints -> false
            )
                        
            @select(
                courseForm("professor.supervisorID"), 
                options(Supervisor.options),
                '_default -> "--- Choose the professor ---",
                '_label -> "Professors",
                '_error -> courseForm("professor").error.map(_.withMessage("Please select the professor"))
            )

            @checkbox(
                courseForm("isInManifesto"), 
                '_label -> "Is in manifesto",
                '_showConstraints -> false)
            )
            
            @checkbox(
                courseForm("isByUNITN"), 
                '_label -> "Is a UNITN course",
                '_showConstraints -> false)
            )
            
            @checkbox(
                courseForm("isPaid"), 
                '_label -> "Is paid",
                '_showConstraints -> false)
            )
            
            @checkbox(
                courseForm("areAllMarksDefined"), 
                '_label -> "All marks defined",
                '_showConstraints -> false)
            )
            
            @checkbox(
                courseForm("isPaymentCompleted"), 
                '_label -> "Payment completed",
                '_showConstraints -> false)
            )
            
            @checkbox(
                courseForm("deleted"), 
                '_label -> "Is deleted",
                '_showConstraints -> false)
            )
               
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Submit">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
       
