@(course: Course)



<!--<div class="container-fluid">  -->

<div class="row" >
    <div class="span 4">
        <p><b> Professor name :</b></p>
    </div>


    <div class="span 8">
        <p> @if(course.getProfessor != null) {
                @{course.getProfessor.lastName}
            }</p>
    </div>
</div>

<div class="row-fluid" >
    <div class="span 4">
        <p><b> Starting date :</b> </p>
    </div>


    <div class="span 8">
        <p> @{course.actualStartDate} </p>    
    </div>   
</div>

<div class="row-fluid" >
    <div class="span 4">
        <p> <b>Classroom :</b> </p>
    </div>


    <div class="span 8">
        <p> @{course.place} </p>    
    </div>   
</div>

<div class="row-fluid" >
    <div class="span 4">
        <p><b> Credits :</b> </p>
    </div>


    <div class="span 8">
        <p> @{course.credits} </p>    
    </div>   
</div>

<div class="row-fluid" >
    <div class="span 4">
        <p> <b>Academic year :</b> </p>
    </div>


    <div class="span 8">
        <p> "@{course.academicYear}" </p>    
    </div>   
</div>

<div class="row-fluid" >
    <div class="span 4">
        <p> <b>Web site :</b></p>
    </div>


    <div class="span 8">
        <p> @{course.url} </p>    
    </div>   
</div>

@if(course.isPaymentCompleted) {
    <div class="row-fluid" >
        <div class="span 4">
            <p><b> Payment made </b> </p>
        </div>
    </div>
} else {
    <div class="row-fluid" >
        <div class="span 4">
            <p><b> Payment not made </b></p>
        </div>
    </div>
}

<div class="row-fluid" >
    <div class="span 4">
        <p><b> Course notes :</b> </p>
        
  <!-- <p> Institution     @{course.institution} </p> -->
  <!--<p> isInManifesto     @{course.isInManifesto} </p>
  <p> isByUnitn @{course.isbyUNITN} </p>
  <p> isPaid @{course.isPaid} </p>
  <!-- <p> BudgetedCost     @{course.budgetedCost} </p>
  <!--<p> plannedCoursePeriod   @{course.plannedCoursePeriod} </p>
  <p> PagamentoCompletato     @{course.isPaymentCompleted} </p>
  <p> Cancellato     @{course.deleted} </p>
  <p> areAllMarksDefined     @{course.areAllMarksDefined} </p>-->
    </div>
    <div class="span 8">
        <p> @{course.notes}  </p> 
    </div> 
</div>

