@(course: Course)

<!-- MIGA O DOFF: Please, abbellire questi dati; io li ho buttati a cazzo. Thanks -->

<div>

    <p>
        ID corso      @{course.courseID}
        Nome corso    @{course.courseName}
        blablabla     @{course.notes}
        blablabla     @{course.actualStartDate}
        blablabla     @{course.institution}
        blablabla     @{course.place}
        blablabla     @{course.credits}
        blablabla     @{course.academicYear}
        blablabla     @{course.isInManifesto}
        blablabla     @{course.isbyUNITN}
        blablabla     @{course.isPaid}
        blablabla     @{course.budgetedCost}
        blablabla     @{course.plannedCoursePeriod}
        blablabla     @{course.areAllMarksDefined}
        blablabla     @{course.url}
        blablabla     @{course.isPaymentCompleted}
        blablabla     @{course.deleted}
        blablabla     @{course.professor}
    </p>

</div>

