@(form: Form[Authentication.Login])(authstate: Html)(additionalLinks: Html)(script: Html)

@main {

<!-- Parte Sx -->

@additionalLinks

<ul class="nav nav-list">
  <li class="nav-header"><font size="4" face="Courier">Useful links</font></li>
  <li><a href="http://ict.unitn.it/announcements"><font size="3" face="Courier">News and announcements</font></a></li>
  <li><a href="http://ict.unitn.it/contacts"><font size="3" face="Courier">Contact us</font></a></li>
</ul>

<div class="modal hide fade" id="windowTitleDialog" style="display: none; ">

  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">
      <img src="@routes.Assets.at("images/logounitn.jpg")"  height = "90" width = "90" />
    </a>
    <h3>Login</h3>
  </div><!--modal header -->
  
  <div class="modal-body">
    @helper.form(routes.Authentication.authenticate) {
      @if(form.hasGlobalErrors) { 
        <p class="error">
          @form.globalError.message
        </p>
      } 
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="Username">Username</label>
          <div class="controls">
            <input type="text" class="input-xlarge" name="username" id="username" placeholder="username@@unitn.it"> 
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="Psw">Password</label>
          <div class="controls">
            <input type="password" class="input-xlarge" name="password" id="password" placeholder="password">   
          </div>
        </div>
      </fieldset>
      <div align="left" class="actions">
        <input data-dismiss="modal" type="reset" class="btn" value="Cancel">
        <input type="submit" class="btn btn-primary" value="Login">
      </div>
      <!-- </form>-->
    } 
  </div><!--modal body -->
  
  <div class="modal-footer">
    <!--
    <a href="/" class="btn" onclick="closeDialog ();">Cancella</a>
    <a href="#" class="btn btn-primary" onclick="okClicked ();">Login</a> -->
  </div>
  
</div> <!--modal hide fade-->

} { <!-- Parte centrale -->

<h1>Aggiungi qualcosa qui</h1>

} { @authstate } {
 
<!-- script index -->

@script

}
