@(form: Form[Authentication.Login])

@helper.form(routes.Authentication.authenticate) {
            
  <h1>Sign in</h1>

  @if(form.hasGlobalErrors) { 
    <p class="error">
      @form.globalError.message
    </p>
  }

  @if(flash.contains("success")) {
    <p class="success">
      @flash.get("success")
    </p>
  }

  <p>
    <input type="text" name="username" placeholder="Username" value="@form("username").value">
  </p>
  <p>
      <input type="password" name="password" placeholder="Password">
  </p>
  <p>
    <button type="submit">Login</button>
  </p>
            
}

