@(barrasinistra: Html)(partecentrale: Html)(authstate: Html)(script: Html)

<!DOCTYPE html>
<html lang="en">
<head> 
 
 @script

<!-- script main -->
<script language="JavaScript">

    function havefun() {
        if (typeof autofun == 'function') { 
            autofun(); 
        }
    }

</script>
 
  <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
      <style type="text/css">
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
        .sidebar-nav {
          padding: 9px 0;
        }
      </style>

  <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" rel="stylesheet">

</head>

<body onLoad="havefun()">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">ICT Doctoral School</a>
          <div class="nav-collapse">
            <ul class="nav">
            </ul>
                <p class="navbar-text pull-right">  @authstate </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
             <!-- barra laterale sx -->             
             <img src="@routes.Assets.at("images/IMG1.jpg")"  height = "100%" width = "100%" />
             <div class="well sidebar-nav">
             @barrasinistra
         	 </div> <!---well --> 
	    <a href="http://www.unitn.it/" class="img_link">
            <img src="@routes.Assets.at("images/logounitn.jpg")"  height = "140" width = "140" />
	         </a>     
	</div> <!-- Span -->
	<div class="span9">
	      <div class="hero-unit">
            <!--parte centrale -->
            @partecentrale
          </div>
    </div>      
  </div> <!-- Row -->
  
 
        <hr />
      <footer>
       <p>&copy; NASEG</p>
      </footer>
 </div> <!-- container -->
  
   <!-- Placed at the end of the document so the pages load faster -->
  <!--  <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script> -->
    
    <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-modal.js")"</script>
    <script src="@routes.Assets.at("javascripts/bootstrap-button.js")"></script>
    
<!--
    <script src="@routes.Assets.at("javascripts/bootstrap-transition.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-alert.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-dropdown.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-scrollspy.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-tab.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-tooltip.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-popover.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-collapse.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-carousel.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-typeahead.js")"></script>
-->

   </body> 
  </html> 
