@(title: String)(content: Html)

@import _root_.views.html.authtoken.authenticityToken

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Phd School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
       <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
 
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <link href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/home/miga/Scrivania/Itc/Itc - Copia.html">ICT Doctoral School</a>
          <div class="nav-collapse">
            <ul class="nav">
            </ul>
            <p class="navbar-text pull-right">Loggato come <a href="#">Username Corrente</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
	<img src="@routes.Assets.at("images/IMG1.jpg")"  height = "300" width = "300" />
	 
	 <!-- Nota: Cercare di rendere il layout "fisso" -->
          
	  <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><font size="4" face="Courier">LOGIN</font></li>
              <li><a data-toggle="modal" href="#windowTitleDialog" ><font size="3" face="Courier">Login Studente</font></a></li>
	    
              <li><a data-toggle="modal" href="#windowTitleDialog" ><font size="3" face="Courier">Login Advisor</font></a></li>
              <li><a data-toggle="modal" href="#windowTitleDialog" ><font size="3" face="Courier">Login Amministrazione</font></a></li>
              <li class="nav-header"><font size="4" face="Courier">ALTRO</font></li>
              <li><a href="http://ict.unitn.it/announcements"><font size="3" face="Courier">News e Avvisi</font></a></li>
              <li><a href="http://ict.unitn.it/contacts"><font size="3" face="Courier">Contattaci</font></a></li>
            </ul>
          </div><!--/.well -->
	  <a href="http://www.unitn.it/" class="img_link">
         <img src="@routes.Assets.at("images/logounitn.jpg")"  height = "140" width = "140" />
	 </a>
      </div><!--/span-->

	
        <div class="span9">
	      <div class="modal hide fade" id="windowTitleDialog" style="display: none; ">
				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal"><img src="@routes.Assets.at("images/logounitn.jpg")"  height = "90" width = "90" /></a>
					<h3>Prova login.</h3>
				</div>
					<div class="modal-body">
                            <form class="form-horizontal" name="formLogin" action="/login" method="POST">
                                <!-- Aggiungo l'auth  -->
                                @authenticityToken()
                                <fieldset>
                                    <legend>LOGIN</legend>
                                    <div class="control-group">
                                        <label class="control-label" for="Username">Username</label>
                                        <div class="controls">
                                            <input type="text" class="input-xlarge" id="username" placeholder="username@@unitn.it">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="Psw">Password</label>
                                        <div class="controls">
                                            <input type="password" class="input-xlarge" id="Psw" placeholder="password">
                                            <p class="help-block">UnitnItc</p>
                                        </div>
                                    </div>
                                    <!-- Aggiunti io, bisogna far fare questa azione al pulsante di login e cancella! - fabbo  -->
                                    <div>
                                        <input type="reset" value="cancella">
                                        <input type="submit" value="Login">
                                    </div>
                                </fieldset>
                            </form>
					</div>
				<div class="modal-footer">
					<a href="/" class="btn" onclick="closeDialog ();">Cancella</a>
					<a href="#" class="btn btn-primary" onclick="okClicked ();">Login</a>
				</div>
		</div> 

 	  
	<div class="hero-unit">
            <h1>Hello, world!</h1>
            <p> Inserisci qualcosa qui.</p>
            <p><a class="btn btn-primary btn-large">Prova &raquo;</a></p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Prova</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">Prova &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Prova</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">Prova &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Prova</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">Prova &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
      
        <p>&copy; NASEG</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
    <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
