@(user: UserCredentials, course: Course, enrollForm: Form[CourseEnrollment])

@main {

<!-- laterale -->

<ul class="nav nav-list">
  <li class="nav-header"><font size="4" face="Courier">Info:</font></li>
  <li> <font size="3" face="Courier">@course.courseName</font></li>
  <li> <font size="3" face="Courier">Anno: @course.academicYear</font></li>
  <li> <font size="3" face="Courier">Crediti: @course.credits</font></li>
</ul>

} {

<!-- centrale -->

<div class="row-fluid">

  <div class="span6">
  
    @examResultsform(course, enrollForm, routes.Professors.addResults(course.courseID.longValue))
    
  </div>
  
</div>

} {

<!-- authstate -->

Loggato come: @user.userName - <a href="@routes.Authentication.logout()">Logout</a>

} {

<!-- script professor_examResult -->

}
