@(user: UserCredentials, courses: List[Course])

@main {


} {

<!-- central part -->

<div class="row-fluid">
  <div class="span6">
  @if(courses.size > 0) {
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Course Name</th>
          <th>Year</th>
          <th>Start Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for(course <- courses) {
          <tr>
            <td>@course.courseName</td>
            <td>@course.academicYear</td>
            <td>@course.printActualStartDate</td>
            <td>
              <a data-toggle="modal" href="@routes.Professors.results(course.courseID.longValue)">
                Insert marks
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  } else {
    <p>
      You do not have any course yet.
    </p>
  }
  </div>
</div>

} {

<!-- authstate -->

Loggato come: @user.userName - <a href="@routes.Authentication.logout()">Logout</a>

} {

<!-- script professor_examResult -->

}


