@(user: UserCredentials, course: Course)

@main {

<!-- laterale -->

<ul class="nav nav-list">
  <li class="nav-header"><font size="4" face="Courier">Info:</font></li>
  <li> <font size="3" face="Courier">@course.courseName</font></li>
  <li> <font size="3" face="Courier">Anno: @course.academicYear</font></li>
  <li> <font size="3" face="Courier">Crediti: @course.credits</font></li>
</ul>

} {

<!-- centrale -->

<div class="row-fluid">

  <div class="span6">
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Studente</th>
          <th>Voto</th>
          <th>Passato</th>
        </tr>
      </thead>
      <tbody>
        @for(enroll <- course.getCoursesEnrollment()) {
          <tr>
            <td>@enroll.getStudent().fullName</td>
            <td><input type="text" /></td>
            <td><input type="checkbox" name="checkPassato" value="@enroll" /></td>
          </tr>
        }
      </tbody>
    </table>
    
    <div class="actions">
      <a data-dismiss="modal" href="#" class="btn btn-large">Cancel</a>
      <a data-dismiss="modal" href="#" class="btn btn-large btn-primary">Confirm</a>
    </div>
    
  </div>
  
</div>

} {

<!-- authstate -->

Loggato come: @user.userName - <a href="@routes.Authentication.logout()">Logout</a>

} {

<!-- script professor_examResult -->

}
