@(countries: List[Country], students: List[Student])

<h1>@countries.size() countries</h1>

@import models.Course
@import models.CourseEnrollment

@for(country <- countries) {
            <li>
                @country.name
            </li>
        }

<h1>@students.size() students</h1>

@for(student <- students) {
            <li>
                @{student.firstName +" "+ student.lastName+": "}
                @for(course <- Course.findCourseEnrolled(student.coursesEnrollmentSet)) {
				   @{course.courseName}
                }
            </li>
        }
