@(user: UserCredentials, courses_enrolled: List[Course], courses: List[Course])

@main { 
<!---parte sx -->
<ul class="nav nav-list">
              <li class="nav-header"><font size="4" face="Courier">LOGIN</font></li>
              <li><a><font size="3" face="Courier">StudyPlan</font></a></li>
              <li><a><font size="3" face="Courier">Carriera</font></a></li>
             
              <li class="nav-header"><font size="4" face="Courier">TotaleCrediti</font></li>
              <li> <font size="3" face="Courier">Interni:</font></li>
              <li> <font size="3" face="Courier">Esterni:</font></li>
            </ul>
            
               <div class="modal hide fade" id="windowTitleDialog" style="display: none; ">
				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal"><img src="/home/miga/Scrivania/Itc/logounitn.jpg"  height = "90" width = "90" /></a>
					<h3>Corso Esterno</h3>
				</div>
					<div class="modal-body">
						       <form class="form-horizontal">
							  <fieldset>
							    <legend>AggiungiCorso</legend>
							    <div class="control-group">
							      <label class="control-label" for="Titolo">Titolo</label>
							      <div class="controls">
								<input type="text" class="input-xlarge" id="Titolo" placeholder="TitoloCorso">
							      </div>
							    </div>
							    <div class="control-group">
							      <label class="control-label" for="Descrizione">Descrizione</label>
							      <div class="controls">
								<input type="text" class="input-xlarge" id="Descrizione" placeholder="DescrizioneCorso">
							      </div>
							      <div class="control-group">
								<label class="control-label" for="Periodo">Periodo</label>
								<div class="controls">
								  <input type="text" class="input-xlarge" id="Periodo" placeholder="PeriodoCorso">
							      </div
							    </div>
							  </fieldset>
							</form>
					</div>
				<div class="modal-footer">
					<a href="/home/miga/Scrivania/Itc/Itc - Copia.html" class="btn" onclick="closeDialog ();">Cancella</a>
					<a href="#" class="btn btn-primary" onclick="okClicked ();">Login</a>
				</div>
		</div>

} { 
<!---parte centrale -->
<div class="row-fluid">
 	  
    <div class="span6">
              <h2>StudyPlan</h2>
	      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome Corso</th>
            <th>Docente</th>
            <th>...</th>
          </tr>
        </thead>
        <tbody>
	  @for(course <- courses_enrolled) {
            <tr onClick="alert('sì')">
	      <td>@course.courseID</td>
              <td>@course.courseName</td>
	      <td>@if(course.professor != null)  {
                @Supervisor.findProfessor(course).lastName
              }</td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    <p align="right"><a data-toggle="modal" href="#windowTitleDialog" class="btn btn-primary btn-large">AggiungiCorsoEsterno</a></p>
    <br>
    <br>
    <p align="right">
        <button class="btn btn-large">Annulla</button>
	<button class="btn btn-large">Conferma</button>
        <button class="btn btn-large btn-primary">RichiediApprovazione</button>
     </p>

  </div><!--span1 -->
  
	      
    <div class="span6">                     
	    
              <h2>ListaCorsi</h2>
              <p>Mouse coordinate</p>
	      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome Corso</th>
            <th>Docente</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for(course <- courses) {
            <tr>
	          <td>@course.courseID</td>
              <td>@course.courseName</td>
              <td>@if(course.professor != null)  {
                @Supervisor.findProfessor(course).lastName
              }</td>
              <td></td>
           </tr>
         }
        </tbody>
      </table>
 <p align="right"><a class="btn btn-primary btn-large">Aggiungi</a></p>
 
    </div><!--span-->
</div><!--row-->


} { Loggato come: @user.userName - <a href="@routes.Authentication.logout()">Logout</a>
}
