@(user: UserCredentials, student: Student, studyplan: List[Course], courses: List[Course], courseForm: Form[Course])

@students_base(user) {

<li class="nav-header"><font size="4" face="Courier">TotaleCrediti</font></li>
<li> <font size="3" face="Courier">Interni:</font></li>
<li> <font size="3" face="Courier">Esterni:</font></li>

} {

@common_editableSP(user, student, studyplan, courses, courseForm)

} {

<!-- script student_studyplans -->

@if(courseForm.hasGlobalErrors) {
  <script language="JavaScript">
  function autofun() {
    $('#windowTitleDialog_newExternCourse').modal('show')
  }
  </script>
}

}

