@(user: UserCredentials)(sideContents: Html)(centralContents: Html)(scripts: Html)

@main { 

<!---left side -->
<ul class="nav nav-list">
      <li class="nav-header"><font size="4" face="Courier">Pages</font></li>
      <li><a href="/student/studyplan"><font size="3" face="Courier">Study plan</font></a></li>
      <li><a href="/student/career"><font size="3" face="Courier">Career</font></a></li>
      
      @sideContents
</ul>

} {
 
<!---parte centrale -->
@centralContents

} {

Logged in as: @user.userName - <a href="@routes.Authentication.logout()">Logout</a>

} {

<!-- script student_base -->

@scripts

}
