@(user: UserCredentials, student: Student, studyplan: List[Course], courses: List[Course], courseForm: Form[Course])

@students_base(user) {

<li class="nav-header"><font size="4" face="Courier">Credits in Study Plan</font></li>
<li> <font size="3" face="Courier">Internal:</font></li>
<!--<p>@@student.internalCreditsSP</p>-->
<li> <font size="3" face="Courier">Esterni:</font></li>
<!--<p>@@student.externalCreditsSP</p>-->
} {

@common_editableSP(user, student, studyplan, courses, courseForm)

} {

<!-- script student_studyplans -->

@if(courseForm.hasErrors) {
  <script language="JavaScript">
  function autofun() {
    $('#windowTitleDialog_newExternCourse').modal('show')
  }
  </script>
}

}

