@(student: Student, studentForm: Form[Student])

<!-- Modal -->

<div class="modal hide fade" id="studentDetails_confirmAction" style="display: none; ">

  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">
      <img src="@routes.Assets.at("images/logounitn.jpg")"  height = "90" width = "90" />
    </a>
    <h3>Conferma operazione</h3>
  </div>

  <div class="modal-body">
    <p>
      Procedendo con l'operazione lo studente verrà sospeso. Continuare?
    </p>
    <a data-dismiss="modal" href="#" class="btn btn-large">Annulla</a>
    <a href="@routes.Admins.suspendStudent(student.userID.longValue)" class="btn btn-primary btn-large">Sospendi lo studente</a>
  </div>

</div>

<!-- Form -->
@import helper._
@import helper.twitterBootstrap._

@helper.form(action = routes.Admins.editStudentData(student.userID.longValue)) {
    <fieldset>
    @inputText(
      studentForm("firstName"),
      '_label -> "First name"
    )

    @inputText(
      studentForm("lastName"),
      '_label -> "Last name"
    )

    @inputText(
      studentForm("courseYear"),
      '_label -> "Course year",
      'class -> "mini",
      '_showConstraints -> false
    )

    @checkbox(
      studentForm("admittedConditionally"), 
      '_label -> "Admitted conditionally",
      '_showConstraints -> false)

    @inputText(
      studentForm("legalResidence"),
      '_label -> "Legal residence"
    )

    @inputText(
      studentForm("currentDomicile"),
      '_label -> "Current domicile"
    )

    @inputDate(
      studentForm("dateOfBirth"),
      '_label -> "Date of birth (yyyy-mm-dd)"
    )

    @inputText(
      studentForm("placeOfBirth"),
      '_label -> "Place of birth"
    )

    @inputText(
      studentForm("officePhone"),
      '_label -> "Office phone"
    )

    @inputText(
      studentForm("mobilePhone"),
      '_label -> "Mobile Phone"
    )

    @inputText(
      studentForm("yearExtensionScholariship"),
      '_label -> "Year exetension scholariship",
      'class -> "mini",
      '_showConstraints -> false
    )

    @inputText(
      studentForm("commiteeMembers"),
      '_label -> "Commitee members"
    )

    @inputText(
      studentForm("email"),
      '_label -> "Email"
    )

    @select(
      studentForm("currentAdvisor.supervisorID"), 
      options(Supervisor.options),
      '_default -> "--- Choose the advisor ---",
      '_label -> "Advisor",
      '_error -> studentForm("currentAdvisor").error.map(_.withMessage("Please select the advisor"))
    )

    @select(
      studentForm("isPlanApproved"),
      options("0" -> "Not yet completed", "1" -> "Waiting for approval", "2" -> "Approved"),
      '_default -> "--- Select an option ---",
      '_label -> "Study Plan",
      '_error -> studentForm("isPlanApproved").error.map(_.withMessage("Please select an option"))
    )

    <input type="hidden" value="@studentForm("scholarshipType").value" name="scholarshipType"/>
    <input type="hidden" value="@studentForm("lockerNumber").value" name="lockerNumber"/>
    <input type="hidden" value="@studentForm("phdCycle").value" name="phdCycle"/>
    <input type="hidden" value="@studentForm("yearExtensionScholarship").value" name="yearExtensionScholarship"/>
    <input type="hidden" value="@studentForm("officeWorkingPlace").value" name="officeWorkingPlace"/>
    <input type="hidden" value="@studentForm("fullName").value" name="FullName"/>
    <input type="hidden" value="@studentForm("isSuspended").value" name="isSuspended"/>
    <input type="hidden" value="@studentForm("userID").value" name="userID"/>
    <input type="hidden" value="@studentForm("phdScholarship").value" name="phdScholarship"/>
    <input type="hidden" value="@studentForm("yearlyFeeToSchool").value" name="yearlyFeeToSchool"/>
    <input type="hidden" value="@studentForm("yearlyFeeToCenter").value" name="yearlyFeeToCenter"/>
    <input type="hidden" value="@studentForm("hasPcRights").value" name="hasPcRights"/>
    <input type="hidden" value="@studentForm("preDoctoralScholarship").value" name="preDoctoralScholarship"/>
    <input type="hidden" value="@studentForm("monthsPredocScholarship").value" name="monthsPredocScholarship"/>
    <input type="hidden" value="@studentForm("yearExtensionScholarship").value" name="yearExtensionScholarship"/>
    <input type="hidden" value="@studentForm("months").value" name="months"/>
    <input type="hidden" value="@studentForm("personalFundsAvailable").value" name="personalFundsAvailable"/>
    <input type="hidden" value="@studentForm("isGraduated").value" name="isGraduated"/>
    <input type="hidden" value="@studentForm("graduationDate").value" name="graduationDate"/>
    <input type="hidden" value="@studentForm("deleted").value" name="deleted"/>
    <input type="hidden" value="@studentForm("fundingInstitution.fundinginstitutionID").value" name="fundingInstitution.fundinginstitutionID"/>
   <input type="hidden" value="@studentForm("university.universityID").value" name="university.universityID"/>
   <input type="hidden" value="@studentForm("countryOfProvenance.countryID").value" name="countryOfProvenance.countryID"/>
   <input type="hidden" value="@studentForm("universityOfProvenance.universityID").value" name="universityOfProvenance.universityID"/>
   <input type="hidden" value="@studentForm("citizenship.countryID").value" name="citizenship.countryID"/>
   <input type="hidden" value="@studentForm("tutor.supervisorID").value" name="tutor.supervisorID"/>
   <input type="hidden" value="@studentForm("fundsOwner.supervisorID").value" name="fundsOwner.supervisorID"/>
   <input type="hidden" value="@studentForm("ItalianTaxpayerCode").value" name="ItalianTaxpayerCode"/>
   <input type="hidden" value="@studentForm("photoProfiled").value" name="photoProfiled"/>
   <input type="hidden" value="@studentForm("user.usercredentialID").value" name="user.usercredentialID"/>
    </fieldset>
    <div class="actions">
      <a data-dismiss="modal" href="#" class="btn btn-large">Cancel</a>
      <input type="submit" class="btn btn-large btn-primary" value="Submit">
    </div>
    }
    
<div>
  @if(student.isSuspended() == false) {
    <a data-toggle="modal" href="#studentDetails_confirmAction" class="btn">Sospendi studente</a>
  }
</div>

