@(user: UserCredentials, enrollments: Set[CourseEnrollment])

@students_base(user) {

<li class="nav-header"><font size="4" face="Courier">TotaleCrediti</font></li>
<li> <font size="3" face="Courier">Interni:</font></li>
<li> <font size="3" face="Courier">Esterni:</font></li>

} {

<div class="row-fluid">
  <div class="span6">
    <h2>Carriera</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome Corso</th>
          <th>Docente</th>
          <th>Esito</th>
          <th>Crediti</th>
        </tr>
      </thead>
      <tbody>
        @for(enrollment <- enrollments) {
          <tr>
	    <td>@enrollment.getCourse.courseID</td>
	    <td>@enrollment.getCourse.courseName</td>
	    <td>@if(enrollment.getCourse.professor != null)  {
	      @enrollment.getCourse.getProfessor.lastName
	    }</td>
	    @if(enrollment.credits == enrollment.credits) {
	      <td>Passato</td>
	    } else {
              <td>Non Passato</td>
            }
	    <td>@enrollment.credits</td>
	    <td>
	      <a href="#"><img src="@routes.Assets.at("images/details.png")" /></a>
	    </td>
          </tr>
          }
      </tbody>
    </table>
    <p align="center">
      <!-- noting for now -->
    </p>
  </div>
</div><!--row-->
}

