@(user: UserCredentials)(sideContents: Html)(centralContents: Html)(scripts: Html)

@main { 

<!---parte sx -->
<ul class="nav nav-list">
      <li class="nav-header"><font size="4" face="Courier">Pagine</font></li>
      <li><a href="/student/studyplan"><font size="3" face="Courier">StudyPlan</font></a></li>
      <li><a href="/student/career"><font size="3" face="Courier">Carriera</font></a></li>
      
      @sideContents
</ul>

} {
 
<!---parte centrale -->
@centralContents

} {

Loggato come: @user.userName - <a href="@routes.Authentication.logout()">Logout</a>

} {

<!-- script student_base -->

@scripts

}
