# python
*.py[co]
*build/

# vim
*.swp

*#
*~

*.bak

# eclipse
courses/.classpath
courses/.project
courses/.settings/
courses/modules/auth/.classpath
courses/modules/auth/.project
courses/modules/auth/.settings/
courses/.cache
